input {
  display: block;
  margin-bottom: 10px;
  width: 500px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: none;
  height: 35px;
  padding: 0 10px;
}

.btnCadastrar {
  margin-top: 20px;
  width: 100%;
  padding: 5px;
  background: #ffc017;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.btnCadastrar:hover {
  background-color: #c9960c;
  box-shadow: 0px 15px 20px #5a430360;
  color: #fff;
  transform: translateY(-7px);
}

.logoContain {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
form {
  width: 50%;
  margin-top: 10px;
}

.logo {
  width: 150px;
  height: 150px;
}

body {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-content: center;
}

@media (max-width: 533px) {
  input {
    width: 250px;
  }
}
