@font-face {
  font-family: helveticaneue;
  src: url("../assets/fonts/TypoGraphica_demo.otf");
}

@font-face {
  font-family: colvetica;
  src: url("../assets/fonts/coolvetica.ttf");
}
body {
  margin: 0;
  background: #f2f2f2;
}
nav {
  width: 100%;
  border-bottom: solid 1px #dadada;
  background: #ffffff;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.11);
}

.title {
  font-size: 25px;
  font-family: helveticaneue;
  font-weight: 150;
  color: #ffc117;
  height: 20px;
  width: 25%;
  margin: 25px 0;
  padding: 15px 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-item {
  display: flex;
  cursor: pointer;
}

.dropdown-item i {
  margin-top: 6px;
  margin-right: 6px;
}

.dropdown-item p {
  font-size: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.contentMain {
  padding: 5px;
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.inputRow {
  display: block;
  margin: 20px 0;
  background: #fefefe;
  border-radius: 10px;
  width: 700px;
  box-shadow: 0px 4px 4px rgba(104, 57, 3, 0.192);
  border: none;
  height: 35px;
  padding: 0 10px;
}
.groupRadio {
  margin: 50px;
}

.groupRadio p {
  font-family: colvetica;
}

.alingEnd {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btnCadastrar {
  margin-top: 20px;
  padding: 8px 15px;
  background: #ffc017;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.btnCadastrar:hover {
  background-color: #c9960c;
  box-shadow: 0px 15px 20px #5a430360;
  color: #fff;
  transform: translateY(-7px);
}

.myform {
  margin: 50px 0;
}
.labels p {
  font-family: colvetica;
  margin-bottom: 10px;
  margin-left: 10px;
}
.inputColum2 {
  margin-bottom: 20px;
  background: #fefefe;
  margin: 0 5px;
  border-radius: 10px;
  width: 330px;
  box-shadow: 0px 4px 4px rgba(104, 57, 3, 0.192);
  border: none;
  height: 35px;
  padding: 0 10px;
}

.centerContents {
  display: flex;
  justify-content: center;
}
.logoNav {
  width: 130px;
  transition: all 0.3s ease 0s;
}

.logoNav:hover {
  transform: translateY(-7px);
}

.navContent {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.row {
  display: flex;
  width: 100%;
}

.rowSpacebetween {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.rowCenter {
  display: flex;
  width: 100%;
  justify-content: center;
}

.main {
  margin: 15px 5%;
}

.navItem {
  transition: all 0.3s ease 0s;
  border-radius: 10px;
  cursor: pointer;
  color: #ffc017;
  padding: 10px 10px;
  font-family: colvetica;
  font-weight: 18px;
}

.navItem:hover {
  transform: translateY(-7px);
  color: #c79202;
}
