@font-face {
  font-family: colvetica;
  src: url("../assets/fonts/coolvetica.ttf");
}

.contentHome {
  padding: 0 25px;
  margin-bottom: 45px;
  display: flex;
  justify-content: space-around;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-size: small;
}

h3 {
  color: #926f0f;
  margin-bottom: 2px;
  font-family: colvetica;
  text-align: center;
}

.myTable {
  width: 40%;
}

table .thTitle {
  border: none;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table td {
  cursor: pointer;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ffc117;
  color: white;
}

@media (max-width: 783px) {
  .contentHome {
    display: block;
  }

  .myTable {
    margin-top: 15px;
  }

  .contentMain {
    justify-content: center;
    display: flex;
  }
}
